

  p {    font-size: 71%;
    margin: -88px 0 14px;
}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #ddd; /* Green */
    color: black;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  /* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  } */
.content-left img{
    border-radius: 50%;
    height: 50%;
    width: 92%;
    /* margin-top: 50px;
    margin-left: 25px; */
}
.content-left h3, .c-left h3{
    font-size: 55px;
    color: 	#ff0066;
}

.content-right{
    margin-top: 80px;
    font-size: 25px;
}
.content-right li{
  list-style-type: none;
  margin-left: -4%;
}
.historypaddingtop, .whyrrpaddingtop, .aboutpadding{
  padding-top: 6%;
  padding-bottom: 6%;
}
.c-left img{
  height: 14%;
  width: 58%;
}
.c-right{
  margin-top: 80px;
  font-size: 25px;
  color: white;
  background-color: rgba(0, 0, 0.6, 0.52);
}
.c-right li{
  list-style-type: none;
}





}
